
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.logInBtn {
    
    bottom: 50%;
    appearance: none;
    background: rgb(85, 80, 80);
    font-size: 32px;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    border: 2px solid transparent;
    padding-bottom: 4px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    transition: all 0.15s;
    font-family: Impact, Courier, Fantasy;
  }

  .logInBtn:hover,
  .logInBtn:focus {
    border: 2px solid rgba(189, 218, 200, 0.4);
  }
  
  .logInBtn:active {
    background-color: rgba(34, 100, 241, 0.2);
  }
  
  .asyncButton {
    composes: button;
    position: relative;
  }
  
  .asyncButton:after {
    content: '';
    background-color: rgba(211, 6, 238, 0.15);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: width 1s linear, opacity 0.5s ease 1s;
  }
  
  .asyncButton:active:after {
    width: 0%;
    opacity: 1;
    transition: 0s;
  }


/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  
}

/* Control the left side */
.left {
  left: 0;
  background-color: rgb(37, 39, 38);
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(120, 197, 113);
}

/* If you want the content centered horizontally and vertically */
.centered {
  padding-left: 3%;
  padding-right: 3%;
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logInTxt{
  font-size: xx-large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.infoTxt{
  background-color: bisque;
  color: #111;
}

.mainTxt{
  text-align: left;
  padding: 2%;
}

.logoImg{
  width: 90%;
}